/* CONFIGURATION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: rgb(20, 18, 18);
  --bgCardColor: rgb(26, 23, 23);
  --bgRainbow: linear-gradient(
    180deg,
    #4a86ff 0,
    #737ffa 3.85%,
    #9178f2 7.69%,
    #a870e8 11.54%,
    #bc68dc 15.38%,
    #cc60cf 19.23%,
    #da58c1 23.08%,
    #e551b1 26.92%,
    #ed4ca2 30.77%,
    #f24892 34.62%,
    #f64882 38.46%,
    #f64972 42.31%,
    #f54d62 46.15%,
    #f25353 50%,
    #ed5a44 53.85%,
    #e66136 57.69%,
    #de6927 61.54%,
    #d47016 65.38%,
    #c97700 69.23%,
    #bd7e00 73.08%,
    #b18400 76.92%,
    #a38900 80.77%,
    #948e00 84.62%,
    #859300 88.46%,
    #749700 92.31%,
    #619a0d 96.15%,
    #4c9d22 100%
  );
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #ffffffaf;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.836);
}

html::-webkit-scrollbar-track-piece {
  background: rgb(59, 59, 59);
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 302px;
  padding-right: 0 !important;
}

/* STYLES BANNER */
.banner {
  position: relative;
  background-image: url(assets/img/img-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: 100%;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent, var(--bgColor));
}

.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  min-width: 300px;
}

/* STYLES MAIN */
main {
  background-color: var(--bgColor);
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* STYLES CARDS */
.containerCard {
  position: relative;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-image: var(--bgRainbow);
  transition: transform 0.2s ease-out;
}

.containerCard:hover {
  transform: translateY(-2px);
}

.btnPokemon {
  position: absolute;
  inset: 4px;
  overflow: hidden;
}

.imgPokemon {
  display: flex;
  background-image: url(assets/img/card-bg.jpg);
  border-radius: 7px 7px 0 0;
  height: 70%;
}

.imgPokemon img {
  width: 100%;
  height: 100%;
  max-width: 180px;
  display: block;
  margin: 0 auto;
}

.containerName {
  background-color: var(--bgCardColor);
  height: 30%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 7px 7px;
}

.namePokemon {
  font-size: 2.3rem;
  font-weight: 600;
  color: #4a86ff;
}

/* STYLES DIALOGS */

.swal2-container {
  padding: 0 20px;
  min-width: 302px;
}

.swal2-modal {
  border-radius: 10px;
  background-image: var(--bgRainbow);
  padding: 10px;
  max-width: 320px;
  width: 80%;
  max-height: 575px;
}

.swal2-image {
  margin: 0;
  background-image: url(assets/img/card-bg.jpg);
  border-radius: 7px 7px 0 0;
}

#swal2-title {
  padding: 0;
  background-color: var(--bgCardColor);
  color: #4a86ff;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 10px;
  border-top: 2px solid #619a0d;
  border-bottom: 2px solid #bc68dc;
  max-height: 77px;
}

#swal2-html-container {
  padding: 10px;
  margin: 0;
  background-color: var(--bgCardColor);
  max-height: 140px;
  overflow: hidden;
}

label.stat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  text-transform: uppercase;
  width: 100%;
  color: #ffffffaf;
  font-size: 1.3rem;
}

label.stat b {
  color: #e66136;
}

.swal2-actions {
  width: 100%;
  margin: 0;
}

.swal2-actions .swal2-confirm {
  width: 100%;
  margin: 0;
  border-radius: 0 0 7px 7px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  background: #f25353;
  color: var(--bgColor);
  font-weight: 600;
}

@media only screen and (width <= 491px) {
  #swal2-title {
    font-size: 3rem;
  }

  input[type="range"] {
    width: 100px;
  }
}

@media only screen and (width <= 397px) {
  #swal2-title {
    font-size: 2.5rem;
  }

  #swal2-html-container {
    overflow-y: scroll;
  }

  #swal2-html-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }

  #swal2-html-container::-webkit-scrollbar-thumb {
    background-color: #ffffffaf;
    border-radius: 10px;
  }

  #swal2-html-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.836);
  }

  #swal2-html-container::-webkit-scrollbar-track-piece {
    background: rgb(59, 59, 59);
  }

  input[type="range"] {
    height: 10px;
    width: 100%;
  }
}

@media only screen and (width <= 350px) {
  #swal2-title {
    font-size: 2rem;
  }
}
